<app-navbar></app-navbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav 
        *ngIf="enableLeftPanel"
        class="sidenav"
        mode="side"
        [opened]="isLeftPanelOpen">

        <ng-content select="[leftPanel]"></ng-content>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
        <button 
            mat-icon-button
            *ngIf="enableLeftPanel"
            disableRipple="true"
            (click)="onLeftPanelToggled()"
            [class.closed]="!isLeftPanelOpen"
            class="toggle">
            
            <mat-icon>chevron_left</mat-icon>
        </button>

        <div class="content">
            <ng-content></ng-content>
        </div>

        <button 
            mat-icon-button
            *ngIf="enableRightPanel"
            disableRipple="true"
            (click)="onRightPanelToggled()"
            [class.closed]="!isRightPanelOpen"
            class="toggle">
            
            <mat-icon>chevron_right</mat-icon>
        </button>
    </mat-sidenav-content>

    <mat-sidenav 
        *ngIf="enableRightPanel"
        class="sidenav"
        position="end"
        mode="side"
        [opened]="isRightPanelOpen">

        <ng-content select="[rightPanel]"></ng-content>
    </mat-sidenav>
</mat-sidenav-container>