html,
body {
  /* Height set by Angular Material */
  height: 100%;

  /* Set 1rem equal to 10px */
  font-size: 62.5%;
}

body {
  /* Margin and Font Family set by Angular Material */
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
